/*style toan trang*/
.containerCol {
  display: grid;
  grid-template-columns: 1fr 4fr; /* cột 1 rộng hơn cột 2 */
  grid-template-rows: auto; /* chiều cao của container theo nội dung */
  text-align: center;
  justify-content: center;
}

/*content*/
.column2 {
  background-color: #ffffff;
  height: 760px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: scroll; /*cho phép box bên trái di chuyển theo thanh kéo trang khi nội dung quá dài.*/
}

/*button cua kanji, grammar, vocab, question*/
/*button cua lesson,flashcard,account*/
.button1 {
  text-decoration: none; /*bỏ các kiểu như underline*/
  display: inline-block;
  background: #fff4cf;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 200px;
  margin: auto;
  margin-bottom: 15px;
}
/* Định dạng phong cách cho khi nút được di chuột qua */
.button1:hover {
  background: #f6b51f;
}
/* Định dạng phong cách cho khi nút được chọn */
.button1:focus {
  background: #f6b51f;
}
.activeButton1 {
  text-decoration: none; /*bỏ các kiểu như underline*/
  display: inline-block;
  background: #f6b51f;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 200px;
  margin: auto;
  margin-bottom: 15px;
}

/*button cua kanji, grammar, vocab*/
.button3 {
  text-decoration: none; /*bỏ các kiểu như underline*/
  display: inline-flex;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 200px;
  height:50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;

  font-family: 'MyCustomFont1';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #323030;
}
.button3:hover {
  background-color: #ffcb42;
}

/*box cua lesson*/
.box1 {
  display: inline-flexbox;
  width: auto;
  height: 290px;
  box-sizing: border-box;
  border-top: 1px solid #878686;
  border-bottom: 1px solid #878686;
  background: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.box2 {
  display: flexbox;
  box-sizing: border-box;
  background: #fff4cf;
  border: 1px solid #000000;
  border-radius: 20px;
  width: auto;
  height: 140px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
  align-items: center;
}

/*box cua so bai hoc*/
.box3 {
  width: 180px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'MyCustomFont1';
  text-align: left;
  font-weight: 600;
  font-size: 32px;
  align-items: center;
  color: #323030;
}

/*box cua ten bai hoc*/
.box4 {
  width: 800px;
  height: 70px;
  
  font-family: 'MyCustomFont1';
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 38px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  color: #323030;
}

/*font*/
@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/avenir_ff/AvenirLTStd-Black.otf') format('truetype');

  font-family: 'MyCustomFont1';
  src: url('../public/avenir_ff/AvenirLTStd-Roman.otf') format('truetype');
}
