/*font*/
@font-face {
  font-family: "MyCustomFont";
  src: url("../public/avenir_ff/AvenirLTStd-Black.otf") format("truetype");

  font-family: "MyCustomFont1";
  src: url("../public/avenir_ff/AvenirLTStd-Roman.otf") format("truetype");
}

/*content cua grammar*/
.box1 {
  width: auto;
  height: auto;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fffdf3;
  border: 1px solid #000000;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.box2 {
  width: 300px;
  height: 40px;
  display: flex;
  background: rgba(255, 204, 86, 0.8);
  border: 1px solid #000000;
  align-items: center;
  justify-content: center;

  font-family: "MyCustomFont1";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #000000;
}
.param {
  display: flex;
  padding-left: 20px;
  width: 1000px;
  height: auto;
  font-family: "MyCustomFont1";
  font-weight: lighter;
  font-size: 24px;

  color: #000000;
}

/*box cua phan tieu de cua bai hoc*/
.box3 {
  box-sizing: border-box;
  width: max-content;
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ffba30e2;
  border: 1px solid #000000;
  border-radius: 20px;
  font-family: "MyCustomFont1";
  font-weight: 600;
  font-size: 36px;

  color: #000000;
}

/*bang cua vocab*/
.table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  width: 1050px;

  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: "MyCustomFont1";
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;

  color: #000000;
}
.th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: 600;
  font-size: 28px;

  width: 650px;
  height: 50px;
  background: rgb(255, 242, 211);
  border: 1px solid #000000;
}
.th1 {
  display: table-cell;
  vertical-align: inherit;
  font-weight: 600;
  font-size: 28px;

  width: 400px;
  height: 50px;
  background: rgb(255, 242, 211);
  border: 1px solid #000000;
}
.td1 {
  display: table-cell;
  vertical-align: inherit;

  width: 400px;
  height: 40px;
  border: 1px solid #000000;
}
.td {
  display: table-cell;
  vertical-align: inherit;

  width: 650px;
  height: 40px;
  border: 1px solid #000000;
}

/*kanji*/
.box4 {
  display: flex;
  width: 620px;
  height: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: 1px solid #000000;
}
.box5L {
  width: 280px;
  height: auto;
  text-align: center;

  font-family: "MyCustomFont";
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 150px;
  border-right: #000000 1px inset;
}
.box5R {
  width: 340px;
  height: auto;
  padding-left: 20px;
  text-align: left;
  justify-content: center;
  
  font-family: "MyCustomFont";
  font-weight: 400;
  font-size: 30px;
}

/* dieu huong trang */
.ID_number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  border-radius: 100%;
  display: flex;
  justify-items: center;
  padding: 0 auto;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border: #000000 1px solid;
}
.button:hover {
  background-color: #ffb200;
}

/*questions*/
.boxMCQ {
  display: flex;
  width: auto;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.boxAnswer {
  display: flex;
  border: 1px solid rgba(255, 178, 0, 0.8);
  border-radius: 20px;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  width: 450px;
  height: 50px;
  text-align: left;
  align-items: center;
  padding-left: 20px;

  font-family: "MyCustomFont";
  font-weight: 400;
  font-size: 24px;
}
.boxAnswer:hover {
  background-color: rgba(255, 178, 0, 0.8);
  border: #000000 1px solid;
}
.boxAnswerActive {
  border: #000000 1px solid;
  background-color: rgba(255, 178, 0, 0.8);
  border-radius: 20px;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  width: 450px;
  height: 50px;
  text-align: left;
  align-items: center;
  padding-left: 20px;

  font-family: "MyCustomFont";
  font-weight: 400;
  font-size: 24px;
}

.p {
  font-family: "MyCustomFont";
  font-weight: 600;
  font-size: 26px;
  text-align: left;
}
.boxQuestion {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgba(255, 178, 0, 0.8);
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  width: auto;
  height: auto;
  border-radius: 30px;
  text-align: left;
  padding-bottom: 10px;

  font-family: "MyCustomFont";
  font-weight: 600;
  font-size: 36px;
}

.buttonSubmit {
  background-color: rgba(255, 178, 0, 0.8);
  border-radius: 20px;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  width: 120px;
  height: 45px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-family: "MyCustomFont";
  font-weight: 400;
  font-size: 24px;
}
.buttonSubmit:hover {
  background-color: #ff8800;
}