/*content cua grammar*/
.box1 {
  width: 1100px;
  height: 271px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fff4cf;
  border: 1px solid #000000;
}

.box2 {
  width: 150px;
  height: 35px;
  display: flex;
  background: rgba(255, 178, 0, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #000000;
}

/*box cua phan tieu de*/
.box3 {
  box-sizing: border-box;
  width: 367px;
  height: 57px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background: #ffb200;
  border: 1px solid #000000;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;

  color: #000000;
}

/*content cua vocab*/

