.containerCol {
  display: grid;
  grid-template-columns: 1fr 2fr; /* cột 1 rộng hơn cột 2 */
  grid-template-rows: auto; /* chiều cao của container theo nội dung */
  height: 832px;
  background: #FFFFFF;
}

.column {
  background-color: #f7f7f7;
}

.box1 {
  box-sizing: border-box;
  background: #FFF4CF;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  border-radius: 20px;
  
}
.slideBar {  
  position: absolute;
  width: 380px;
  height: 832px;
  left: 0px;
  top: 0px;
}

.japper {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

.lesson {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
